#menu {
    transform: translateX(100%);
}

@media screen and (max-width: 540px) {
    .nav-open {
        transform: translateX(0) !important;
    }
}

#menu li {
    text-align: center;
    padding: 20px;
}
