// @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

body {
    background: #f4f4f4;
    // font-family: 'Roboto', sans-serif;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

header a {
    color: white;
}

header a:not(#logo):hover,
.project-post a:hover {
    transition: 0.2s;
    color: #6fb2e8 !important;
}

a:visited {
    color: inherit;
}

header {
    box-shadow: 0 6px 5px 1px #1d1d1d;
}

header,
footer {
    color: white;
    background: #1b242f;
}

.active {
    color: #c4d5e3 !important;
}

h1 {
    padding: 20px;
    text-align: center;
}

p {
    padding: 10px;
}
