@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: #fafbfc;
    margin: 0;
    font-family: 'Fira Code', monospace;
    font-size: 19px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:not(#title):hover {
    transition: 0.1s;
    color: #6fb2e8 !important;
}

a:visited {
    color: inherit;
}
